{% extends '../layouts/layout.html' %}
{% block title %} books massnage {% endblock %}
{% block head %}
{% endblock  %}
{% block content %}
    <a href="/books/list" id="goBack">返回</a>
    <h4>[[data.bookName]]</h4>
    <p>作者：[[data.auther]]</p>
    <p>定价：[[data.price]]</p>
    <p is="word-count">这里是自定义</p>
    <button is="button-hello">hello world</button>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        console.log('图书展示也');
        class WordCount extends HTMLParagraphElement{
            constructor(){
                super()
            }
        }
        customElements.define('word-count',WordCount, {extends: 'p'})
        class ButtonHelloElement extends HTMLButtonElement { 
            constructor() {
                super()
                this.addEventListener('click', () => { alert('hello world');}) 
            }
        }
        customElements.define('button-hello', ButtonHelloElement, { extends: 'button' }) 
    </script>
{% endblock %}
