{% extends '../../layouts/layout.html' %}
{% block title %} books massnage {% endblock %}
{% block head %}
    <!-- injectcss -->
    
{% endblock  %}
{% block content %}
    <!-- <form>
        <label class="search-lable" for="bookName">书名：</label>
        <input class="normal-input" type="text" name="bookName" id="bookName"/>
        <label class="search-lable" for="author">作者：</label>
        <input class="normal-input" type="text" name="author" id="author"/>
        <label class="search-lable" for="bookNum">图书编号：</label>
        <input class="normal-input" type="text" name="bookNum" id="bookNum" />
        <input class="btn primary-btn" type="submit" name="" value="查询">
        <input class="btn primary-btn" type="submit" name="" id="addBook" value="新增">
    </form> -->
    <div>
        1、copy-webpack-plugin html 骨架 components直接copy

2、html-webpack-plugin  pages -> chunk  搞定chunk  就是不同文件的js是不一样的，所以使用chunks  pages不能直接使用html-plugin-webpack因为直接使用把文件放到了结尾， 这样是不行的，需要插入到 
{% block script %}和{% endblock %}中去，不然不管用呀
3、webpack entry -> js(根据entry生成独立的js) 全靠entry
4、合成， 写插件 把孤零零的js  插入到pages里相应的位置
    </div>
    这里是使用组件的地方,为了不想写../../我们使用@来表示
    
    {% include "@components/list/list.html" %}
    <!-- {% include "../../../components/list/list.html" %} -->
    
{% endblock %}
{% block scripts %}
    <!-- injectjs -->
{% endblock %}


